<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">ComBoost</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Start","Document")">快速使用</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">基础 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Entity","Document")">实体</a></li>
                        <li class="disabled"><a href="#">带缓存的实体</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("EntityFramework","Document")">EntityFramework驱动的实体</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">网站 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Mvc","Document")">Asp.Net Mvc</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("MvcBootstrap","Document")">Bootstrap风格</a></li>
                        <li><a href="@Url.Action("MvcUnity","Document")">Unity依赖注入</a></li>
                    </ul>
                </li>
                <li class="dropdown disabled">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">桌面 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="disabled"><a>Wpf</a></li>
                        <li class="divider"></li>
                        <li class="disabled"><a>Metro风格</a></li>
                    </ul>
                </li>
                <li class="dropdown disabled">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">服务 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="disabled"><a>WCF服务</a></li>
                        <li class="disabled"><a>带缓存的WCF服务</a></li>
                        <li class="divider"></li>
                        <li class="disabled"><a>WebAPI服务</a></li>
                        <li class="disabled"><a>带缓存的WebAPI服务</a></li>
                    </ul>
                </li>
                <li class="dropdown disabled">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">扩展 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="disabled"><a>组件模型</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="disabled"><a>论坛</a></li>
                <li><a href="https://github.com/Kation/ComBoost/issues"><i class="glyphicon glyphicon-exclamation-sign"></i> 报告错误</a></li>
                <li><a href="https://github.com/Kation/ComBoost"><i class="glyphicon glyphicon-eye-open"></i> 源代码</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <div class="nav navbar-default">
        <div class="container">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <label><i class="glyphicon glyphicon-globe"></i> Language</label>
                    <select class="form-control" id="language">
                        <option value="@Url.RouteUrl("Default", new { lang = "en-us", controller = ViewContext.RouteData.Values["controller"], action = ViewContext.RouteData.Values["action"] })">English</option>
                        <option value="@Url.RouteUrl("Default", new { lang = "zh-cn", controller = ViewContext.RouteData.Values["controller"], action = ViewContext.RouteData.Values["action"] })" selected="selected">简体中文</option>
                    </select>
                </div>
            </form>
            <p class="navbar-text navbar-right">&copy; 2014 Wodsoft</p>
        </div>
    </div>
    <script type="text/javascript">
        $('#language').change(function () {
            window.location.href = $(this).val();
        });
    </script>
</body>
</html>
