@model MvcEditorModel
<div class="input-control text size4 place-left">
    <input type="text" id="@(Model.Metadata.ClrName)_Name" readonly="readonly" value="@Model.Value">
    <input type="hidden" id="@(Model.Metadata.ClrName)_Value" name="@Model.Metadata.ClrName" value="@(Model.Value != null? ((System.Data.Entity.EntityBase)Model.Value).Index.ToString() : "")" />
</div>
<div class="place-left margin5">
    <span class="button-set">
        <button id="@(Model.Metadata.ClrName)_Select" type="button">Select</button>
        <button id="@(Model.Metadata.ClrName)_Clear" type="button">Clear</button>
    </span>
</div>
<script type="text/javascript">
    $(function () {
        function initSelector(result) {
            result.find('[data-nav=true]').each(function (index, element) {
                element = $(element);
                element.attr('data-href', element.attr('href'));
                element.click(function () {
                    $.ajax({
                        cache: false,
                        url: $(this).attr('data-href'),
                        success: function (result) {
                            result = $(result);
                            initSelector(result);
                            $.Dialog.content(result);
                        }
                    });
                });
                element.removeAttr('href');
            });
        }
        var name = $('#@(Model.Metadata.ClrName)_Name');
        var value = $('#@(Model.Metadata.ClrName)_Value');
        $('#@(Model.Metadata.ClrName)_Select').click(function () {
            $.ajax({
                cache: false,
                url: '@Url.RouteUrl(new { controller = Model.Metadata.ClrType.Name, action = "Selector" })',
                error: function (result) {
                    if (result.status == 404)
                        $.Dialog({
                            overlay: true,
                            shadow: true,
                            flat: false,
                            title: 'There is some errors',
                            padding: 6,
                            overlayClickClose: false,
                            sysButtons: {
                                btnClose: true,
                                btnOK: true,
                                btnCancel: false,
                                btnOKText: 'OK'
                            },
                            content: '<p>Can not found the selector.</p>'
                        });
                    else
                        $.Dialog({
                            overlay: true,
                            shadow: true,
                            flat: false,
                            title: 'There is some errors',
                            padding: 6,
                            overlayClickClose: false,
                            sysButtons: {
                                btnClose: true,
                                btnOK: true,
                                btnCancel: false,
                                btnOKText: 'OK'
                            },
                            content: '<p>Site throw unexpected errors.</p>'
                        });
                },
                success: function (result) {
                    result = $(result);
                    initSelector(result);
                    $.Dialog({
                        overlay: true,
                        shadow: true,
                        flat: false,
                        title: '@(Model.Metadata.Name) selector dialog',
                        padding: 6,
                        width: $(window).width() - 200,
                        height: $(window).height() - 200,
                        overlayClickClose: false,
                        content: result,
                        sysBtnOKClick: function () {
                            var radios = result.find(':checked');
                            if (radios.length == 0) {
                                alert('Please select a item.');
                                return;
                            }
                            value.val($(radios[0]).val());
                            name.val($(radios[0]).attr('data-name'));
                            $.Dialog.close();
                        }
                    });
                }
            });
        });
        $('#@(Model.Metadata.ClrName)_Clear').click(function () {
            name.val('');
            value.val('');
        });
    });
</script>