@model MvcEditorModel
<div id="@Model.Metadata.Property.Name">
    <div class="input-control number size1">
        <input type="number" id="@(Model.Metadata.Property.Name)_Hour" min="0" step="1" class="form-control text-center" value="@(((TimeSpan)Model.Value).TotalHours)">
    </div>
    <span>@System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat.TimeSeparator</span>
    <div class="input-control number size1">
        <input type="number" id="@(Model.Metadata.Property.Name)_Minute" min="0" max="59" step="1" class="form-control text-center" value="@(((TimeSpan)Model.Value).Minutes)">
    </div>
    <span>@System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat.TimeSeparator</span>
    <div class="input-control number size1">
        <input type="number" id="@(Model.Metadata.Property.Name)_Seconds" min="0" max="59" step="1" class="form-control text-center" value="@(((TimeSpan)Model.Value).Seconds)">
    </div>
</div>
<input type="hidden" id="@(Model.Metadata.Property.Name)_Value" name="@Model.Metadata.Property.Name" value="@Model.Value" />
<script type="text/javascript">
    $(function () {
        function checkNumber() {
            var number = new Number($(this).val());
            if (isNaN(number)) {
                number = 0;
            }
            number = Math.round(number);
            if (number < 0)
                number = 0;
            if (number > 59)
                number = 59;
            $(this).val(number);
        }
        function checkHour() {
            var number = new Number($(this).val());
            if (isNaN(number)) {
                number = 0;
            }
            number = Math.round(number);
            if (number < 0)
                number = 0;
            $(this).val(number);
        }
        $('#@(Model.Metadata.Property.Name)_Hour').change(checkHour);
        $('#@(Model.Metadata.Property.Name)_Minute').change(checkNumber);
        $('#@(Model.Metadata.Property.Name)_Seconds').change(checkNumber);
        $('#@Model.Metadata.Property.Name').children('input').change(function () {
            var hidden = $('#@(Model.Metadata.Property.Name)_Value');
            var hour = $('#@(Model.Metadata.Property.Name)_Hour').val();
            var minute = $('#@(Model.Metadata.Property.Name)_Minute').val();
            var second = $('#@(Model.Metadata.Property.Name)_Seconds').val();
            hidden.val(hour + ":" + minute + ":" + second);
        });
    });
</script>