@model MvcEditorModel
<div id="@Model.Metadata.ClrName">
    <div class="radio-inline">
        <label>
            <input type="radio" name="@Model.Metadata.ClrName" value="true"@Html.Raw((bool)Model.Value ? " checked=\"checked\"" : "")/>Yes
        </label>
    </div>
    <div class="radio-inline">
        <label>
            <input type="radio" name="@Model.Metadata.ClrName" value="false"@Html.Raw((bool)Model.Value ? "" : "checked=\"checked\"")/>No
        </label>
    </div>
</div>