@model MvcEditorModel
<div class="input-group">
    <input type="text" id="@(Model.Metadata.Property.Name)_Name" readonly="readonly" class="form-control" value="@Model.Value">
    <input type="hidden" id="@(Model.Metadata.Property.Name)_Value" name="@Model.Metadata.Property.Name" value="@(Model.Value != null? ((System.Data.Entity.EntityBase)Model.Value).Index.ToString() : "")" />
    <span class="input-group-btn">
        <button id="@(Model.Metadata.Property.Name)_Select" class="btn btn-default" type="button">Select</button>
        <button id="@(Model.Metadata.Property.Name)_Clear" class="btn btn-default" type="button">Clear</button>
    </span>
</div>
<script type="text/javascript">
    $(function () {
        var name = $('#@(Model.Metadata.Property.Name)_Name');
        var value = $('#@(Model.Metadata.Property.Name)_Value');
        $('#@(Model.Metadata.Property.Name)_Select').click(function () {
            var result = window.showModalDialog('@Url.RouteUrl(new { controller = Model.Metadata.Property.PropertyType.Name, action = "Selector" })',
                null,
                'dialogHeight:720px;dialogWidth:1024px');
            if (result == undefined)
                result = window.returnValue;
            if (result == null)
                return;
            name.val(result.name);
            value.val(result.value);
        });
        $('#@(Model.Metadata.Property.Name)_Clear').click(function () {
            name.val('');
            value.val('');
        });
    });
</script>