@model MvcEditorModel
<div id="@Model.Metadata.Property.Name">
    <div class="radio-inline">
        <label>
            <input type="radio" name="@Model.Metadata.Property.Name" value="true" @Html.Raw((bool)Model.Value ? " checked=\"checked\"" : "") />Male
        </label>
    </div>
    <div class="radio-inline">
        <label>
            <input type="radio" name="@Model.Metadata.Property.Name" value="false" @Html.Raw((bool)Model.Value ? "" : "checked=\"checked\"") />Female
        </label>
    </div>
</div>